div figure.table table {
    border-collapse: collapse;
    width: 100%;
}

div figure.table table th,
div figure.table table td {
    border: 1px solid #ddd;
    padding: 8px;
}

div figure.table table thead {
    background-color: #f2f2f2;
}