{% extends 'base.html.twig' %}

{% block title %}¡My CV!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container py-4">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item border">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Informacion del usuario
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse p-3" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    {{ form(user_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
